:root {
  --active-color: #437F4A;
  --active-color-hover: hsla(127, 31%, 38%, 0.9);
  --active-color-active: hsla(127, 31%, 38%, 0.8);
  --bgr-white: #fdfdfd;
  --text-color: #000;
  --bgr-grey: #403f3f;
}

// $xxxs-width: 321.98px;
// $xxs-width: 359.98px;
// $xs-width: 567.98px;
// $sm-width: 767.98px;
// $md-width: 991.98px;
// $lg-width: 1289.98px;
// $xl-width: 1559.98px;
// $xxl-width: 1749.98px;

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot'),
    url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Heavy.eot');
  src: local('../fonts/Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-LightItalic.eot');
  src: local('../fonts/Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ThinItalic.eot');
  src: local('../fonts/Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BlackItalic.eot');
  src: local('../fonts/Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BoldItalic.eot');
  src: local('../fonts/Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLightItalic.eot');
  src: local('../fonts/Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBoldItalic.eot');
  src: local('../fonts/Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-MediumItalic.eot');
  src: local('../fonts/Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBoldItalic.eot');
  src: local('../fonts/Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('../fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-HeavyItalic.eot');
  src: local('../fonts/Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-RegularItalic.eot');
  src: local('../fonts/Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLight.eot');
  src: local('../fonts/Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Thin.eot');
  src: local('../fonts/Gilroy Thin'), local('Gilroy-Thin'),
    url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.eot');
  src: local('../fonts/Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bgr-white);
}

a:active,
a:focus,
a[href='#']:active
a[href='#']:focus {
  outline: none;
  text-decoration: none;
}

.link {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
  color: #007846;
  text-decoration: none;
  text-align: center;
  @media (min-width: 767.98px) {
    margin-top: 30px;
  }
  @media (min-width: 1199.98px) {
    margin-top: 40px;
  }
}

.link:hover {
  color: #007846;
  text-decoration: underline;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-title {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  @media(max-width: 1200px) {
    font-size: 30px;
  }
}

.carousel .control-arrow {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  opacity: 0.3;
  border: none;
  z-index: 1;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  display: none;
}

.carousel .control-arrow:hover,
.carousel.carousel-slider .control-arrow:hover {
  opacity: 1;
}

.carousel.carousel-slider .control-prev.control-arrow:hover,
.carousel .control-prev.control-arrow {
  left: 0;
  background-color: rgba(#000, 0.4);
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

.carousel.carousel-slider .control-next.control-arrow:hover,
.carousel .control-next.control-arrow {
  right: 0;
  background-color: rgba(#000, 0.4);
  background-image: url(../images/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}