.section {
  width: calc(100% - 40px);
  padding: 10px 0 30px;
  margin: 0 auto;
  @media (min-width: 767.98px) {
    width: calc(100% - 100px);
    padding-bottom: 40px;
  }
  @media (min-width: 1199.98px) {
    padding-bottom: 70px;
  }
  @media (min-width: 1559.98px) {
    width: 1500px;
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-auto-rows: 350px;
  gap: 10px;
  list-style: none;
  justify-content: center;
  @media (min-width: 567.98px) {
    grid-template-columns: repeat(2, 250px);
  }
  @media (min-width: 767.98px) {
    grid-template-columns: repeat(2, 300px);
  }
  @media (min-width: 991.98px) {
    grid-template-columns: repeat(3, 300px);
  }
}

.news-list__item {
  width: 100%;
  border: 1px solid rgba(#9BB6A2, 0.2);
  border-radius: 1px;
  transition: 0.2s;
}

.news-list__item:hover {
  box-shadow: 2px 2px 15px rgba(#9BB6A2, 0.4);
}

.news-list__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.news-list__link:hover,
.news-list__link:focus,
.news-list__link:active {
  text-decoration: none;
  color: #000;
}

.news-list__img {
  width: 100%;  
  object-fit: cover;
  border-radius: 1px;
  height: 70%;
}

.news-list__title {
  margin-top: 10px;
  padding: 0 5px;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  @media (min-width: 1199.98px) {
    font-size: 18px;
  }
}

.news-list__type {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  padding: 8px 10px;
  background-color: var(--active-color);
  color: var(--bgr-white);
  border-radius: 0 2px 2px 0;
}

.event {
  &-news {
    background: linear-gradient(-47deg, rgba(67,127,74,1) 0%, rgba(26,83,33,1) 100%);
  }
  &-openings {
    background: linear-gradient(-47deg, #fad961 0%, #f76b1c 100%)
  }
  &-events {
    background: linear-gradient(-47deg, #5c99e1 0%, #1e5ba3 100%);
  }
  &-promotions_and_discounts {
    background: linear-gradient(-47deg, #f76ad5 0%, #a31e5b 100%);
  }
  &-film {
    background: linear-gradient(-47deg, #939090 0%, #141314 100%);
  }
}
