.nav {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  list-style: none;
  @media (min-width: 359.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nav-link {
  display: block;
  padding: 8px 10px;
  line-height: 1.2;
  color: var(--bgr-white);
  text-decoration: none;
  font-size: 12px;
  @media (min-width: 359.98px) {
    font-size: 14px;
  }
  @media (min-width: 567.98px) {
    font-size: 16px;
  }
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #DCA41D;
}