.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.nav-item {

}

.nav-link {
  display: block;
  padding: 8px 0;
  line-height: 1.2;
  color: var(--bgr-white);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #DCA41D;
}