.button {
  height: 40px;
  display: block;
  padding: 0 20px;
  background-color: var(--active-color);
  color: #fff;
  text-transform: capitalize;
  border: 1px solid var(--active-color);
  border-radius: 1px;
}

.button:hover {
  background-color: var(--active-color-hover);
  border-color: var(--active-color-hover);
}


.button:active,
.button:focus {
  background-color: var(--active-color-active);
  border-color: var(--active-color-active);
}