.button {
  height: 40px;
  display: block;
  padding: 0 20px;
  background-color: var(--active-color);
  color: #fff;
  text-transform: capitalize;
  border: 1px solid var(--active-color);
  border-radius: 1px;
}

.button:hover {
  background-color: var(--active-color-hover);
  border-color: var(--active-color-hover);
  cursor: pointer;
}


.button:active,
.button:focus {
  background-color: var(--active-color-active);
  border-color: var(--active-color-active);
}

.button:disabled {
  filter: grayscale(0.6);
  cursor: not-allowed;
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-image: url(../../images/icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  z-index: 55;
}

.btn-subscr {
  padding: 0 10px;
  text-transform: uppercase;
}