.filters {
  display: none;
  margin-top: 20px;
  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.filters-right {
  flex-basis: 33%;
  align-items: flex-end;
  
}

.filters-left {
  flex-basis: calc(60% - 10px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.filters-select {
  display: flex;
  align-items: flex-end;
  flex-basis: 33%;
}