.filters {
  display: none;
  margin-top: 20px;
  grid-template-columns: 100%;
  display: grid;
  gap: 20px;
  @media (min-width: 991.98px) {
    grid-template-columns: 1fr 2.07fr;
  }
  @media (min-width: 1199.98px) {
    display: none;
  }
}

.filters-left {
  width: 100%;
  align-items: flex-end;
}

.filters-right {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  align-items: end;
  justify-content: space-between;
  @media (min-width: 567.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.filters-select {
  display: flex;
  align-items: flex-end;
  width: 100%;
}