.image-bgr {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(../../images/banner.jpg) no-repeat center top;
  background-size: cover;
}

.image-bgr::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 70%;
}