.section {
  margin: 30px auto 0;
  @media (min-width: 991.98px) {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

.renters-title {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 767.98px) {
    font-size: 30px;
  }
  @media (min-width: 1199.98px) {
    font-size: 35px;
  }
}

.renters-info {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(#9BB6A2, 0.2);
  @media (min-width: 991.98px) {
    height: 370px;
  }
}

.renters-info__wrapper {
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(../../images/mall.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  @media (min-width: 359.98px) {
    padding-bottom: 150px;
  }
  @media (min-width: 567.98px) {
    background-size: 70%;
    padding-bottom: 120px;
  }
  @media (min-width: 767.98px) {
    width: calc(100% - 100px);
    padding-bottom: 100px;
  }
  @media (min-width: 991.98px) {
    background-size: 65%;
  }
  @media (min-width: 1199.98px) {
    padding-bottom: 80px;
    background-size: contain;
  }
  @media (min-width: 1559.98px) {
    width: 1500px;
  }
}

.renters-info__p {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 14px;
  @media (min-width: 767.98px) {
    font-size: 16px;
  }
  @media (min-width: 1199.98px) {
    margin-bottom: 30px;
  }
  &:first-child {
    @media (min-width: 767.98px) {
      padding-left: 10%;
      text-align: right;
    }
    @media (min-width: 991.98px) {
      padding-left: 25%;
    }
  }
  &:last-child {
    @media (min-width: 567.98px) {
      padding-left: 30%;
      text-align: right;
      text-indent: 20px;
    }
    @media (min-width: 767.98px) {
      padding-left: 50%;
    }
    @media (min-width: 991.98px) {
      padding-left: 60%;
    }
  }
}

.text-bold {
  font-weight: 600;
  font-size: 14px;
  @media (min-width: 767.98px) {
    font-size: 16px;
  }
}

.renters-content {
  width: calc(100% - 40px);
  margin: 0 auto;
  @media (min-width: 767.98px) {
    width: calc(100% - 100px);
  }
  @media (min-width: 1199.98px) {
    // padding-bottom: 60px;
  }
  @media (min-width: 1559.98px) {
    width: 1500px;
  }
}

.benefits {
  margin: 30px 0;
  @media (min-width: 767.98px) {
    margin: 40px 0;
  }
  @media (min-width: 991.98px) {
    margin: 50px 0;
  }
}

.block-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 991.98px) {
    font-size: 25px;
  }
}

.benefits-list {
  display: grid;
  grid-auto-rows: 90px;
  grid-template-columns: 100%;
  gap: 20px;
  list-style: none;
  @media (min-width: 567.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 991.98px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.benefits-item {
  display: flex;
  height: 100%;
  padding: 15px 10px;
  align-items: center;
  font-size: 14px;
  border: 1px solid transparent;
  @media (min-width: 767.98px) {
    font-size: 16px;
  }
}

.benefits-item:hover {
  border: 1px solid rgba(#9BB6A2, 0.1);
  box-shadow: 2px 2px 15px rgba(#9BB6A2, 0.1);
}

.item-bgr {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 90px;
  
}

.item-bgr::before {
  display: block;
  width: 90px;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.item-bgr_location::before {
  background-image: url(../../images/icons/location.svg);
}

.item-bgr_people::before {
  background-image: url(../../images/icons/people.svg);
}

.item-bgr_doc::before {
  background-image: url(../../images/icons/doc.svg);
}

.item-bgr_hands::before {
  background-image: url(../../images/icons/hands.svg);
}

.item-bgr_medal::before {
  background-image: url(../../images/icons/medal.svg);
}

.item-bgr_check::before {
  background-image: url(../../images/icons/check.svg);
}

.plans {
  margin: 30px 0;
  @media (min-width: 767.98px) {
    margin: 40px 0;
  }
  @media (min-width: 991.98px) {
    margin: 50px 0;
  }
}

.plans-list {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  list-style: none;
  @media (min-width: 567.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 991.98px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1199.98px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.plans-list__item {
  position: relative;
  height: 150px;
  border: 1px solid rgba(#9BB6A2, 0.2);
  border-radius: 1px;
}

.plans-list__item:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Открыть';
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(#403f3f, 0.8);
  color: var(--bgr-white);
  font-size: 20px;
  text-decoration: underline;
  transition: 02s;
  cursor: pointer;
}

.plans-list__item:hover::before {
  display: flex;
}

.plans-list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.download-link {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
  color: #007846;
  text-decoration: none;
  text-align: center;
}

.download-link:hover {
  color: #007846;
  text-decoration: underline;
}
