.section {
  margin: 30px auto 0;
  padding-bottom: 60px;
  width: calc(100% - 40px);
  font-family: Gilroy !important;
  color: var(--bgr-grey) !important;
  @media (min-width: 767.98px) {
    width: calc(100% - 100px);
  }
  @media (min-width: 991.98px) {
    margin-top: 40px;
  }
  @media (min-width: 1199.98px) {
    padding-bottom: 80px;
  }
  @media (min-width: 1559.98px) {
    width: 1500px;
  }
}

.page-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
  @media (min-width: 767.98px) {
    font-size: 30px;
    text-align: center;
  }
  @media (min-width: 1199.98px) {
    font-size: 35px;
  }
}

.parking-policy p,
.parking-policy font,
.parking-policy span {
  padding: 10px 0px;
  font-family: Gilroy !important;
  color: var(--bgr-grey) !important;
  font-weight: normal;
  font-size: 16px !important;
}

.parking-policy {
  width: 100%;
}