.list {
  width: 100%;
  display: grid;
  // grid-template-columns: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  gap: 30px;
  margin-top: 30px;
  list-style: none;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(#9BB6A2, 0.2);
}

.list-item:hover {
  box-shadow: 2px 2px 15px rgba(#9BB6A2, 0.4);
}

.list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}