:root {
  --min-width-col: 250px;
  --min-height-row: 300px;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: var(--min-height-row);
  gap: 30px;
  margin-top: 30px;
  list-style: none;
  @media (min-width: 567.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 991.98px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.list-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(#9BB6A2, 0.2);
  color: var(--bgr-grey);
  text-decoration: none;
}

.list-item:hover {
  box-shadow: 2px 2px 15px rgba(#9BB6A2, 0.4);
}

.list-link:hover {
  color: var(--bgr-grey);
  text-decoration: none;
}

.list-link:active,
.list-link:focus {
  text-decoration: none;
  outline: none;
  color: var(--bgr-grey);
}

.list-item__img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.list-item__title {
  margin-top: 10px;
  font-size: 20px;
}

.list-item__level,
.list-item__category {
  font-size: 14px;
  color: rgba(#403f3f, 0.7);
}

.list-item__level {
  margin-bottom: 10px;
}