.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--bgr-white);
  font-size: 16px;
  line-height: 1;
  z-index: 100;
}

.header-top {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 100px;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  display: block;
  width: 85px;
  height: 85px;
  margin-right: 20px;
  background: url(../../images/logo_nav.svg) no-repeat left top;
  background-size: cover;
}

.header-top__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}

.header-top__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.header-contacts__link, .header-contacts__link[href='#'] {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.header-contacts__link:hover {
  color: #437F4A;
  text-decoration: underline;
}

.header-contacts__link:active,
.header-contacts__link:focus {
  outline: none;
  color: rgba(#437F4A, 0.8);
  text-decoration: underline;
}

.header-social {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

.header-social__item {
  margin-left: 5px;
}

.header-social__link {
  display: block;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
  transition: 0.2s;
}

.header-social__link:hover {
  filter: grayscale(0);
}

.link-vk {
  background-image: url(../../images/social/vk_logo.svg);
}

.link-ok {
  background-image: url(../../images/social/ok_logo.svg);
}

.link-instagram {
  background-image: url(../../images/social/instagram_logo.svg);
}