.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--active-color);
  font-size: 16px;
  line-height: 1;
  z-index: 100;
  @media (min-width: 991.98px) {
    background-color: var(--bgr-white);
  }
}

.header-top {
  width: calc(100% - 40px);
  height: 80px;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: var(--bgr-grey);
  @media (min-width: 1199.98px) {
    width: calc(100% - 60px);
  }
  @media (min-width: 1499.98px) {
    width: calc(100% - 100px);
  }
}

.header-logo {
  display: block;
  width: 85px;
  height: 85px;
  margin-right: 20px;
  background: url(../../images/logo_nav.svg) no-repeat left top;
  background-size: cover;
}

.header-top__left {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 991.98px) {
    display: flex;
  }
  @media (min-width: 1199.98px) {
    width: auto;
    flex-grow: 2;
    justify-content: flex-start;
  }
}

.header-top__right {
  display: none;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  @media (min-width: 1199.98px) {
    display: flex;
    flex-grow: 1.5;
  }
}

.header-contacts__link, .header-contacts__link[href='#'] {
  margin-right: 20px;
  cursor: pointer;
  color: var(--bgr-grey);
  text-decoration: none;
  word-break: none;
}

.header-contacts__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  flex-shrink: 4;
  // @media (max-width: 1100px) {
  //   margin-left: auto;
  //   flex-wrap: wrap-reverse;
  // }
}

.header-contacts__block_a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.header-contacts__time {
  margin-right: 20px;
}

.header-contacts__time svg,
.header-contacts__address svg,
.header-contacts__link svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.header-contacts__time,
.header-contacts__address,
.header-contacts__link {
  display: flex;
  align-items: center;

}

.header-contacts__link:hover {
  color: var(--active-color);
  text-decoration: underline;
}

.header-contacts__link:active,
.header-contacts__link:focus {
  outline: none;
  color: rgba(var(--active-color), 0.8);
  text-decoration: underline;
}

.header-bottom {
  display: none;
  @media (min-width: 991.98px) {
    display: block;
  }
}

.header--mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 991.98px) {
    display: none;
  }
}

.header--mobile-logo {
  display: block;
  width: 200px;
  height: 80px;
  // margin-right: 20px;
  background: url(../../images/title_mall_white.svg) no-repeat center;
  background-size: cover;
}

.header--mobile-btn {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
}

.header--mobile-btn span {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  display: block;
  width: 100%;
  height: 3px;
  background: var(--bgr-white);
  transition: 0.3s;
}

.header--mobile-btn::before,
.header--mobile-btn::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: var(--bgr-white);
  transition: 0.3s;
}

.header--mobile-btn::before {
  top: 0px;
}

.header--mobile-btn::after {
  top: 18px;
}

.header--mobile-btn_open span {
  display: none;
}

.header--mobile-btn_open::before,
.header--mobile-btn_open::after {
  top: 9px;
}

.header--mobile-btn_open::before {
  transform: rotate(45deg);
}

.header--mobile-btn_open::after {
  transform: rotate(-45deg);
}