.section {
  display: grid;
  padding: 50px;
  grid-template-columns: 300px calc(100% - 330px);
  column-gap: 30px;
}

.page-title {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}

.page-content {

}