.subscr-form {
  width: 100%;
  padding: 8px 10px;
}

.subscr-form__body {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.agree-text {
  color: rgba(#fff, 0.4);
  font-size: 12px;
  line-height: 1.4;
}

.agree-link {
  cursor: pointer;
  color: rgba(#fff, 0.4);
  font-size: 12px;
  line-height: 1.4;
}

.agree-link:hover {
  color: var(--active-color-gold);
}