.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  list-style: none;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs--item {
  margin-right: 10px;
  padding-bottom: 15px;
  word-break: keep-all;
  white-space: nowrap;
  @media (min-width: 767.98px) {
    margin-right: 30px;
  }
}

.tabs--link {
  text-decoration: underline;
  text-decoration-style: dashed;
  transition: 0.2s;
}

.tabs--link:hover {
  color: var(--active-color-hover);
  cursor: pointer;
}

.tabs--link-active {
  color: var(--active-color);
  text-decoration: none;
}