.section {
  margin: 30px auto 0;
  padding-bottom: 60px;
  width: calc(100% - 40px);
  @media (min-width: 767.98px) {
    width: calc(100% - 100px);
  }
  @media (min-width: 991.98px) {
    margin-top: 40px;
  }
  @media (min-width: 1199.98px) {
    padding-bottom: 80px;
  }
  @media (min-width: 1559.98px) {
    width: 1500px;
  }
}

.detail-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
  @media (min-width: 767.98px) {
    font-size: 30px;
    text-align: center;
  }
  @media (min-width: 1199.98px) {
    font-size: 35px;
  }
}

.back-link {
  color: var(--active-color);
  text-decoration: none;
  font-size: 15px;
}

.back-link:hover {
  color: var(--active-color-hover);
  cursor: pointer;
}

.back-link:active,
.back-link:focus {
  color: var(--active-color-active);
}

.detail-content {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  justify-content: space-between;
  @media (min-width: 991.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 90px;
}

.detail-gallery {
  width: 100%;
}

.detail-gallery img,
.gallery-miniatures__item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.detail-gallery .img-logo,
.gallery-miniatures__item .img-logo {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.gallery-miniatures {
  width: 100%;
  margin-top: 10px;
}

.detail-info_p {
  padding-bottom: 30px;
  line-height: 1.3;
  border-bottom: 1px solid rgba(#403f3f, 0.6);
}

.detail-contacts {
  margin-bottom: 20px;
  padding-top: 20px;
}

.detail-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: rgba(#403f3f, 0.6);
}

.detail-contacts__item svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.detail-categories {
  color: rgba(#403f3f, 0.6);
}

.detail-categories a {
  color: #307CD7;
}

.detail-categories a:hover {
  color: #0086CC;
}

.detail-categories a:active,
.detail-categories a:focus {
  color: #3DACFF;;
}